@import '~bootstrap/scss/bootstrap.scss';
@import '../../node_modules/@fortawesome/fontawesome-free/css/fontawesome.min.css';
@import '../../node_modules/@fortawesome/fontawesome-free/css/solid.min.css';

.actionsContainer {
    float: right;
}

.cardgrid {
    display: grid;

    grid-template-columns: repeat(auto-fill, minmax(255px, 1fr));
  
    /* This is better for small screens, once min() is better supported */
    /* grid-template-columns: repeat(auto-fill, minmax(min(200px, 100%), 1fr)); */
    gap: 1rem;
}

.card {
    border: solid 1px #CCC;

    &.active {
        background-color: #0d6efd !important;
        border-color: #0d6efd !important;
        color: white;
    }

    &>.list-group {
        border: solid 1px #CCC;
    }
}

.card img {
    
    width: 100%;
    filter: drop-shadow(3px 6px 4px rgb(0 0 0 / 0.075));
}